@import url('https://fonts.googleapis.com/css2?family=Alata&family=Dancing+Script:wght@500;600;700&family=Lobster&family=Poppins:ital,wght@0,300;0,600;0,800;1,200;1,500&display=swap');
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Alata', sans-serif;
	font-family: 'Dancing Script', cursive;
	font-family: 'Lobster', cursive;
	font-family: 'Poppins', sans-serif;
}
header{
	position: relative;
	width: 100%;
	height: 600px;
	background: url("../images/background.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 0 10%;
	background-attachment: fixed;
}
@media screen and (max-width:600px){
	header{
		background: url("../images/background_small.jpg");
		background-repeat: no-repeat;
		background-size: cover;
		background-position: 0 10%;
		background-attachment: fixed;
		height: 450px;
	}
}

/*=============================================================================*/
.welcome{
	position: relative;
	width: 100%;
	min-height: 300px;
}
.welcome .block{
	position: relative;
	width: 70%;
	height: 400px;
	display: block;
	margin: 0 auto;
	transform: translateY(-100px);
	background: #fff;
}

.welcome .block::before{
	position: absolute;
	top: 50%;
	left: 50%;
	width: 90%;
	height: 80%;
	content: '';
	transform: translate(-50% , -50%);
	border: 1px solid #0005;
}
.welcome .block .content{
	position: relative;
	width: 90%;
	height: 80%;
	display: block;
	margin: 0 auto;
	background: #000;
	top: 50px;
	padding: 10px;
	background: transparent;
}
.welcome .block .content h1{
	font-size: 26px;
	text-transform: uppercase;
	text-align: center;
	margin-top: 30px;
	word-spacing: 10px;
}
.welcome .block .content p{
	font-size: 18px;
	margin-top: 25px;
	position: relative;
	width: 80%;
	display: block;
	margin: 30px auto 0 auto;
}
@media screen and (max-width: 840px){
	.welcome .block{
		width: 90%;
	}
}
@media screen and (max-width: 840px){
	.welcome .block{
		height: 400px;
	}
	#main > div.welcome > div > div > h1{
		font-size: 18px;
	}
	#main > div.welcome > div > div > p{
		font-size: 15px;
		width: 90%;
		margin-top: 15px;
	}
}
@media screen and (max-width: 420px){
	.welcome .block .content h1{
		margin: 0;
		margin-top: 10px;
	}
}
@media screen and (max-width: 370px){
	.welcome .block{
		height: 430px;
	}
	#main > div.welcome > div > div > h1{
		font-size: 16px;
	}
	#main > div.welcome > div > div > p{
		font-size: 14px;
	}
}
/*======================================================================================================*/
h1.menuTag{
	text-align: center;
	margin-top: -80px;
}
#underline1{
	display: block;
	margin: 10px auto 0px;
}
@media screen and (max-width: 380px){
	h1.menuTag{
		font-size: 20px;
	}
	#underline1{
		margin-top: 15px;
		margin-bottom: 10px;
	}
}
.menu{
	position: relative;
	min-height: 70vh;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 0px;
}
.menu .container{
	position: relative;
	width: 80%;
	height: 100%;
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-wrap: wrap;
}
.menu .container .img{
	position: relative;
	width: 300px;
	height: 400px;
	cursor: pointer;
	border-top-right-radius: 25px;
	border-bottom-left-radius: 25px;
	margin: 20px 0;
}
.menu .container .img img{
	position: relative;
	width:100%;
	height: 100%;
	border-top-right-radius: 25px !important;
	border-bottom-left-radius: 25px !important;
}
.menu .container .img span{
	position: absolute;
	width: 80%;
	height: 80%;
	background: #fff8;
	display: block;
	z-index: 2;
	top: 50%;
	left: 50%;
	transform: translate(-50% , -50%);
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	border-top-right-radius: 25px;
	border-bottom-left-radius: 25px;
	opacity: 0;
	transition: 0.5s;
}
.menu .container .img span h1{
	font-size: 25px;
}
.menu .container .img span p{
	font-size: 18px;
	text-align: center;
	width: 90%;
	position: relative;
	margin-top: 20px;
}
.menu .container .img:hover span{
	opacity: 1;
}
#svg1{
	position: absolute;
	top: 10px;
	left: 10px;
}
#svg2{
	position: absolute;
	bottom: 10px;
	right: 10px;
}
#underline{
	margin-top: 10px;
}


@media screen and (max-width: 400px){
	#main > div.menu > div{
		width: 100%;
	}
	.menu .container .img{
		width: 260px;
		height: 360px;
	}
}
/*================================================================================================*/
.review{
	position: relative;
	width: 100%;
	height: 400px;
	background: #daa52024;
	margin-top: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
.review .container{
	position: relative;
	width: 600px;
	min-height: 200px;
	text-align: center;
}
.review .container h1{
	font-size: 25px;
	margin-top: 30px;
}
.review .container p{
	font-size: 17px;
	line-height: 24px;
}
.review .controller{
	position: relative;
	width: 600px;
	height: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.review .controller span{
	display: block;
	cursor: pointer;
	font-size: 19px;
	height: 20px;
	width: 20px;
	margin: 0 10px;
}
.review .controller span i{
	transition: 0.5s;
}
.review .controller span.active{
	background: #000;
}
@media screen and (max-width:900px){
	.review .container{
		position: relative;
		width: 80%;
		min-height: 310px;
	}
	#main > div.review > div.container > h1{
		margin-top: 15px;
		margin-bottom: 15px;
	}
}

/*==========================================================================================*/
.contact{
	position: relative;
	min-height: 400px;
	width: 100%;
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-wrap: wrap;
	padding:  50px 10% 0;
}
@media screen and (max-width: 400px){
	.contact{
		padding: 0 25px;
	}
}
.contact > div{
	position: relative;
	width: 350px;
	height: 250px;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	flex-direction: column;
	border: 1px solid #0004;
	z-index: 5;
	cursor: pointer;
	margin: 15px 0;
}
.contact > div.active{
	color: #fff;
}
.contact > div h1{
	font-size: 22px;
	margin-bottom: 15px;
	transition: 0.5s;
}
.contact > div p{
	font-size: 16px;
	position: relative;
	width: 80%;
	margin-bottom: 10px;
	line-height: 22px;
	transition: 0.5s;
}
.contact > div a{
	color: #000;
	text-decoration: none;
	margin-top: 15px;
	padding: 10px 15px;
	border: 1px solid #000;
	transition: 0.5s;
}
.contact > div.active a{
	color: #fff;
	border-color: #fff;
}
.contact > div a:hover{
	background: #000;
	color: #fff;
}
.contact > div.active a:hover{
	background: #fff;
	color: #000;
}
.contact .marker{
	position: absolute;
	background: #000;
	z-index: 1;
	transition: 0.5s;
	margin: 0;
}
.contact .follow .input{
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: row;
	margin-top: 15px;
	height: 25px;
}
.contact .follow .input input{
	height: 25px;
	width: 150px;
	padding: 4px 10px;
	border: none;
	outline: none;
	background: #0001;
	color: #000;
	transition: 0.5s;
}
.contact .follow .input button{
	position: relative;
	width: 40px;
	height: 100%;
	background: #0003;
	border: none;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: 0.5s;
	outline: none;
	cursor: pointer;
}
.contact .follow .input button i{
	transition: 0.5s;
}
.contact .follow.active .input input{
	background: #fff2;
	color: #fff;
}
.contact .follow.active .input button{
	background: #fff5;
}
.contact .follow.active .input button i{
	color: #fff;
}
/*==================================================================================*/
.footer{
	position: relative;
	width: 100%;
	min-height: 40vh;
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-wrap: wrap;
	padding-top: 50px;
	background: url("../images/footer.jpg") , linear-gradient(to right , #f00 , #000);
	background-position: center;
	background-size: cover;
	background-attachment: fixed;
	background-blend-mode: multiply;
}
div.footer > div{
	width: 300px;
	min-height: 150px;
	color: #fff;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	flex-direction: column;
}
div.footer > div h1{
	font-size: 24px;
	margin-bottom: 15px;
}
div.footer > div p{
	font-size: 14px;
	line-height: 21px;
	word-spacing: 3px;
}
@media screen and (max-width:450px){
	div.footer > div{
		margin: 15px 0;
	}
}
@media screen and (max-width:380px){
	div.footer > div{
		width: 260px;
		margin: 15px 0;
	}
}
